.food {
    width: 100%;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;
    overflow: hidden;
    .food-container {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        width: 90vw;
        .food-card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 340px;
            height: 120px;
            border-radius: 2px;
            overflow: hidden;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, .10);
            transition: background .5s ease;
            &:hover {
                background: #BFDCAE;
            }
            img {
                height: 120px;
                padding: .3rem;
                border-radius: 8px;
                object-fit: cover;
            }
            h3 {
                font-family: 'Montserrat', sans-serif;
                color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .9rem;
                padding: 0 1rem;
                transition: all .5s ease;
            }
        }
    }
}

@media screen and(min-width:1100px) {
    .food-container {
        display: grid !important;
        grid-gap: 4rem !important;
        padding: 4rem 0;
        //padding-right: 5rem;
        .food-card {
            display: flex !important;
            flex-direction: column !important;
            min-width: 200px;
            min-height: 300px;
            margin: 2rem;
            margin-right: 3rem;
            img {
                height: 200px !important;
                display: flex;
                justify-self: center;
            }
            h3 {
                font-size: 1.2rem !important;
                height: 100%;
            }
        }
    }
}